force-app/main/default/flows/MailServiceSettingFlow.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>setNewParam</name>
        <label>setNewParam</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>GetCurrentRecordInfo.OriginalMessageApi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>viewset5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCurrentRecordInfo.ProviderMailAddressApi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>viewset4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCurrentRecordInfo.ProviderNameApi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>viewset3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCurrentRecordInfo.SubjectApi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>viewset2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecord</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChoiceManual</name>
        <choiceText>マニュアル</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>マニュアル</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceNavi</name>
        <choiceText>ナビゲーション</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ナビゲーション​</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <formulas>
        <name>addItem</name>
        <dataType>String</dataType>
        <expression>{!loopItem.Name}&amp; &apos;: &apos; &amp; LEFT({!$Api.Enterprise_Server_URL_480}, FIND(&apos;/services&apos;, {!$Api.Enterprise_Server_URL_480})) &amp; {!loopItem.Id}</expression>
    </formulas>
    <interviewLabel>MailService設定画面 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MailService設定画面</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCurrentRecordInfo</name>
        <label>現在のレコード情報を取得</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>view1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MailMatchingSetting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRecord</name>
        <label>UpdateRecord</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <inputReference>GetCurrentRecordInfo</inputReference>
    </recordUpdates>
    <screens>
        <name>view1</name>
        <label>設定画面</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>setNewParam</targetReference>
        </connector>
        <fields>
            <name>view1object</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;オブジェクトの設定をします。&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>set2</name>
            <extensionName>mail2x:mailMatchingViewPartsPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>件名</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <elementReference>GetCurrentRecordInfo.ObjectApi__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>GetCurrentRecordInfo.SubjectApi__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>viewset2</assignToReference>
                <name>selectedLabel</name>
            </outputParameters>
        </fields>
        <fields>
            <name>set3</name>
            <extensionName>mail2x:mailMatchingViewPartsPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>送信者</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <elementReference>GetCurrentRecordInfo.ObjectApi__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>GetCurrentRecordInfo.ProviderNameApi__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>viewset3</assignToReference>
                <name>selectedLabel</name>
            </outputParameters>
        </fields>
        <fields>
            <name>set4</name>
            <extensionName>mail2x:mailMatchingViewPartsPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>送信元メールアドレス</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <elementReference>GetCurrentRecordInfo.ObjectApi__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>GetCurrentRecordInfo.ProviderMailAddressApi__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>viewset4</assignToReference>
                <name>selectedLabel</name>
            </outputParameters>
        </fields>
        <fields>
            <name>set5</name>
            <extensionName>mail2x:mailMatchingViewPartsPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>オリジナルメッセージ</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <elementReference>GetCurrentRecordInfo.ObjectApi__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>GetCurrentRecordInfo.OriginalMessageApi__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>viewset5</assignToReference>
                <name>selectedLabel</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCurrentRecordInfo</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>chooseLabelApi</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreatedRecordCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DetailRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MailMatchingDetail__c</objectType>
    </variables>
    <variables>
        <name>DetailRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MailMatchingDetail__c</objectType>
    </variables>
    <variables>
        <name>LimitErrorText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loopItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MailMatchingDetail__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>view1_subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>view2check1</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>view2check2</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>view2check3</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>view2set1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>view2set2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>view2set3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>viewset1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>viewset2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>viewset3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>viewset4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>viewset5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
