force-app/main/default/flows/MailServiceFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>SetDetailRecordManual</name>
        <label>設定をレコードに割り当て</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>DetailRecord.FieldApi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>chooseLabelApi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DetailRecord.SettingMaster__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DetailRecord.ManualMatching__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputRegExp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DetailRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DetailName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DetailRecord.StartText1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>StartTextPlaceholder</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateDetailRecors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDetailRecordNavigation</name>
        <label>設定をレコードに割り当て</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>DetailRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DetailName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DetailRecord.SettingMaster__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DetailRecord.EndText1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DetailRecord.StartText1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DetailRecord.StartText2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DetailRecord.FieldApi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>chooseLabelApi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DetailRecord.ManualMatching__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateDetailRecors</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChoiceManual</name>
        <choiceText>マニュアル</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>マニュアル</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceNavi</name>
        <choiceText>ナビゲーション</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ナビゲーション​</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Choose</name>
        <label>入力画面分岐</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>ViewNav</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>ChooseManual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceSetPattern</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceManual</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ViewManual</targetReference>
            </connector>
            <label>マニュアル</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>addItem</name>
        <dataType>String</dataType>
        <expression>{!loopItem.Name}&amp; &apos;: &apos; &amp; LEFT({!$Api.Enterprise_Server_URL_480}, FIND(&apos;/services&apos;, {!$Api.Enterprise_Server_URL_480})) &amp; {!loopItem.Id}</expression>
    </formulas>
    <interviewLabel>MailService設定画面 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mail2Xマッチング作成画面</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateDetailRecors</name>
        <label>コレクションを作成</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>CompleteView</targetReference>
        </connector>
        <inputReference>DetailRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetCurrentRecordInfo</name>
        <label>現在のレコード情報を取得</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MailServiceSetDetail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MailMatchingSetting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CompleteView</name>
        <label>完了画面</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ViewCreateList</name>
            <fieldText>&lt;p&gt;マッチング設定を作成いたしました。&lt;/p&gt;&lt;p&gt;関連リストから設定内容を確認してください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MailServiceSetDetail</name>
        <label>MailMatching詳細設定画面</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Choose</targetReference>
        </connector>
        <fields>
            <name>View2_Title</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;メール取込みの詳細を作成します。&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DetailName</name>
            <dataType>String</dataType>
            <fieldText>設定名</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;レコードの設定（論理）名となります。&lt;/p&gt;&lt;p&gt;必須項目ですが、内容は任意となります。&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DetailFieldNameLwc</name>
            <extensionName>mail2x:mailMatchingViewPartsPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <elementReference>GetCurrentRecordInfo.ObjectApi__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>取込先項目</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>chooseLabelApi</assignToReference>
                <name>selectedLabel</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ChoiceSetPattern</name>
            <choiceReferences>ChoiceNavi</choiceReferences>
            <choiceReferences>ChoiceManual</choiceReferences>
            <dataType>String</dataType>
            <fieldText>取込み方法</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;ナビゲーションはガイドに沿って入力を行います。&lt;/p&gt;&lt;p&gt;マニュアルは一部正規表現を用いて取得する内容を設定します。&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ViewManual</name>
        <label>マニュアルで入力画面</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetDetailRecordManual</targetReference>
        </connector>
        <fields>
            <name>View_Manual_Title</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;マニュアル入力画面&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InputRegExp</name>
            <dataType>String</dataType>
            <fieldText>正規表現の入力</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HelpManual</name>
            <fieldText>&lt;p&gt;・改行のマッチングは&quot;\n&quot;で行います。&lt;/p&gt;&lt;p&gt;・取込まれるマッチグループは第一グループのみとなります。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ViewNav</name>
        <label>ナビゲーション入力</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetDetailRecordNavigation</targetReference>
        </connector>
        <fields>
            <name>View_Nav_Title</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;ナビゲーションで入力&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Start1</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>開始テキスト</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;取込を開始するテキストを入力してください。&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Start2</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>開始テキスト終了文言</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>End1</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>終了テキスト</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LimitError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!LimitErrorText}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>LimitErrorText</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LimitErrorText</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCurrentRecordInfo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>chooseLabelApi</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreatedRecordCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DetailRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MailMatchingDetail__c</objectType>
    </variables>
    <variables>
        <name>DetailRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MailMatchingDetail__c</objectType>
    </variables>
    <variables>
        <name>LimitErrorText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loopItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MailMatchingDetail__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>view1_subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>view2check1</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>view2check2</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>view2check3</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>view2set1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>view2set2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>view2set3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>viewset1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>viewset2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>viewset3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>viewset4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>viewset5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
